.gasnoble
{background-color:paleturquoise}
.nometales
{background-color:Darkviolet}
.metaloides
{background-color:Lime}
.otrosmetales
{background-color:Moccasin}
td:hover{
  opacity: 1;
  transicion: all;
  visibility: visible;
  background: #7B68EE;
}
.otrosmetalesdetransicion
{background-color:Yellow}

.zoom{
  transition:width 1s, height 1s, transform 1s;
}
.zoom:hover{
  transform: scale(1.5):
}
.metalesalcalinos
{background-color:coral}
.alcalinoterreos
{background-color:SandyBrown} 
.halogenos
{background-color:Fuchsia}
.elementosdesconocidos
{background-color:Gray}
.lantanidos
{background-color:LightGreen}
.actinidos
{background-color:LimeGreen}
.modal-contenido{
  background-color:rgba(40,114,51,0.5);
  color:#ffffff;
  width:300px;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.527);
  margin: 2rem auto;
  position: relative;
  border-style:outset;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}
.modal{
  background-color: rgba(0,0,0,.6);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0; 
  pointer-events:none;
  transition: all 1s;
}
:target{
  opacity:1;
  pointer-events:auto;
  border-radius: 8px;
}